<p *ngIf="i === 1">{{LoadData()}}</p>
<div class="container">
	<div class="row panel headingTop">
      <div class="panel-heading">
        <h2 class="panel-title">Contact Book</h2>
    </div>
</div>

<div class="row" >

		<div class="col-xs-6 ">
			<a href="#" class="row" >
				<div class="col-xs-12 contactList" *ngFor="let x of Arr; let i = index" (click)="Edit(i)">
					<div class="col-xs-4 EmailPortion ">
						{{x.Name}}<br>
						<h6 >{{x.Email}}</h6>
					</div>
					<div class="col-xs-4 glyphicon1">
						<span class="glyphicon glyphicon-earphone"></span>
					</div>
					<div class="col-xs-4 PhonePortion ">
						{{x.Phone}}
					</div>
				</div>
			</a>
		</div>

		<div class="col-xs-6 Formdiv">
			<form class="form-group" style="margin-top: 15px;">
				<input class="form-control" type="text" name="Name"  placeholder="Enter Name" [(ngModel)]="name">
				<input class="form-control" type="email" name="Email"  placeholder="Enter Email" [(ngModel)]="email">
				<input class="form-control" type="text" name="Phone"  placeholder="Phone Number" [(ngModel)]="phone">
				<button class="btn btn-default btn-success" type="submit" (click)="this[MethodSwaping]()" > Submit</button>
			</form>
		</div>

</div>